altgraph==0.17.4
blinker==1.8.2
boto3==1.34.122
botocore==1.34.122
click==8.1.7
colorama==0.4.6
et-xmlfile==1.1.0
Flask==3.0.3
Flask-Cors==4.0.1
itsdangerous==2.2.0
Jinja2==3.1.4
jmespath==1.0.1
MarkupSafe==2.1.5
numpy==1.26.4
openpyxl==3.1.4
packaging==24.0
pandas==2.2.2
pefile==2023.2.7
pip==24.0
pyinstaller==5.13.2
pyinstaller-hooks-contrib==2024.7
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
pywin32-ctypes==0.2.2
s3transfer==0.10.1
setuptools==67.7.2
six==1.16.0
tzdata==2024.1
urllib3==2.2.1
waitress==3.0.0
Werkzeug==3.0.3
